.homeBody {
    max-width: 1400px;
    margin: auto;
    margin-top: 1em;
}

.inscriptionBody {
    max-width: 1400px;
    margin: auto;
    margin-top: 1em;
}

.products-container {
    display:flex;
    justify-content: space-evenly;
}

.button-center {
    text-align: center;
    margin-top: 2em;
}

.admin-container {
    display: flex;
    justify-content: space-between;
}

.admin-table {
    text-align: center;
}

.admin-table > tr {
    padding: 2em;
}

.col-boutons {
    display: flex;
}