.homeBody {
    max-width: 1400px;
    margin: auto;
    margin-top: 1em;
}

.products-container {
    display:flex;
    justify-content: space-evenly;
}

.button-center {
    text-align: center;
    margin-top: 2em;
}